FaceApiDetect/Microsoft.Flow/flows/81d0209c-8d80-47d6-a082-a37b23250542/definition.json
{"name":"fe332426-b2ae-4caa-b134-d7b10130acd0","id":"/providers/Microsoft.Flow/flows/fe332426-b2ae-4caa-b134-d7b10130acd0","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"FaceApiDetect","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"f191f183-1aa9-4535-90eb-b86beef75e45","type":"User","tenantId":"1987588b-8c39-4142-bf65-99f3dd606a04"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-01-25T20:29:18.913779Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"30dd9ba5-54e4-476d-a530-a9697551f8be"},"type":"Request","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"Createfile_FileContent":{"type":"string","format":"binary","description":"The content of the file.","x-ms-powerflows-param-ispartial":false}},"required":["Createfile_FileContent"]}}}},"actions":{"Compose":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"operationMetadataId":"085f225d-9716-4a27-ae12-e2aaaec70ed2"},"type":"Compose","inputs":"@dataUriToBinary(triggerBody()['Createfile_FileContent'])"},"HTTP":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"35ab8470-e50c-49e3-b2ac-1222177f7259"},"type":"Http","inputs":{"method":"POST","uri":"https://xamarinfaceapi.cognitiveservices.azure.com/face/v1.0/detect","headers":{"Ocp-Apim-Subscription-Key":"40817fb162dc47b18295c7466f2dfc97","Content-Type":"application/octet-stream"},"queries":{"returnFaceAttributes":"age,gender,emotion,smile,hair,makeup,accessories,occlusion,exposure,noise"},"body":"@outputs('Compose')"}},"Response":{"runAfter":{"HTTP":["Succeeded"]},"metadata":{"operationMetadataId":"26329a23-f6ec-4eb5-8331-769befa92f86"},"type":"Response","kind":"Http","inputs":{"statusCode":200,"body":"@body('HTTP')","schema":{"type":"array","items":{"type":"object","properties":{"faceId":{"type":"string"},"recognitionModel":{"type":"string"},"faceRectangle":{"type":"object","properties":{"width":{"type":"integer"},"height":{"type":"integer"},"left":{"type":"integer"},"top":{"type":"integer"}}},"faceLandmarks":{"type":"object","properties":{"pupilLeft":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"pupilRight":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseTip":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"mouthLeft":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"mouthRight":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyebrowLeftOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyebrowLeftInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeLeftOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeLeftTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeLeftBottom":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"number"}}},"eyeLeftInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"integer"}}},"eyebrowRightInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyebrowRightOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeRightInner":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"integer"}}},"eyeRightTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"eyeRightBottom":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"number"}}},"eyeRightOuter":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseRootLeft":{"type":"object","properties":{"x":{"type":"integer"},"y":{"type":"number"}}},"noseRootRight":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseLeftAlarTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseRightAlarTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"integer"}}},"noseLeftAlarOutTip":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"noseRightAlarOutTip":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"upperLipTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"upperLipBottom":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"underLipTop":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}},"underLipBottom":{"type":"object","properties":{"x":{"type":"number"},"y":{"type":"number"}}}}},"faceAttributes":{"type":"object","properties":{"age":{"type":"integer"},"gender":{"type":"string"},"smile":{"type":"number"},"facialHair":{"type":"object","properties":{"moustache":{"type":"number"},"beard":{"type":"number"},"sideburns":{"type":"number"}}},"glasses":{"type":"string"},"headPose":{"type":"object","properties":{"roll":{"type":"number"},"yaw":{"type":"integer"},"pitch":{"type":"number"}}},"emotion":{"type":"object","properties":{"anger":{"type":"number"},"contempt":{"type":"integer"},"disgust":{"type":"number"},"fear":{"type":"number"},"happiness":{"type":"number"},"neutral":{"type":"number"},"sadness":{"type":"integer"},"surprise":{"type":"number"}}},"hair":{"type":"object","properties":{"bald":{"type":"integer"},"invisible":{"type":"boolean"},"hairColor":{"type":"array","items":{"type":"object","properties":{"color":{"type":"string"},"confidence":{"type":"integer"}},"required":["color","confidence"]}}}},"makeup":{"type":"object","properties":{"eyeMakeup":{"type":"boolean"},"lipMakeup":{"type":"boolean"}}},"occlusion":{"type":"object","properties":{"foreheadOccluded":{"type":"boolean"},"eyeOccluded":{"type":"boolean"},"mouthOccluded":{"type":"boolean"}}},"accessories":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"confidence":{"type":"number"}," confidence":{"type":"number"}},"required":["type"]}},"blur":{"type":"object","properties":{"blurLevel":{"type":"string"},"value":{"type":"number"}}},"exposure":{"type":"object","properties":{"exposureLevel":{"type":"string"},"value":{"type":"number"}}},"noise":{"type":"object","properties":{"noiseLevel":{"type":"string"},"value":{"type":"number"}}},"qualityForRecognition":{"type":"string"}}}},"required":["faceId","recognitionModel","faceRectangle","faceLandmarks","faceAttributes"]}}}},"Condition":{"actions":{},"runAfter":{},"else":{"actions":{"Create_file":{"runAfter":{},"metadata":{"operationMetadataId":"3046c0b5-bdaf-4dc1-bd67-e0ab49a23c96"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"parameters":{"folderPath":"/PhotosDemos/FaceAPI","name":"@utcNow()","body":"@triggerBody()['Createfile_FileContent']"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}}},"expression":{"equals":[1,1]},"metadata":{"operationMetadataId":"557b301a-2c47-4f04-b874-a05a890344e9"},"type":"If"}}},"connectionReferences":{"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-8a07c1d9-307c-48e5-b3e1-75c5-3dcb3fbf","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}